*{

    margin: 0;
    padding: 0;

    font-family: 'Uchen', serif;

    box-sizing: border-box;

}

body{

    background-color: black;
    background-attachment: fixed;

}

#logoDiv{

    background:url(../images/logo/2.8.png);

    width:20vw;
    height: 15vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.navBarWrapper{

    background-color: rgba(0, 0, 0, 0.6);

    margin-top: 5vh;
    margin-bottom: 10vh;

    display: grid;
    grid-auto-rows: (5vh auto);
    grid-template-columns: repeat(5, 1fr);

}

.elements{

    color: rgba(255, 255, 255, 0.87);

    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;

}

.elements:hover{

    font-weight: bolder;
    font-size: 105%;

    transition: 0.1s;

}

.element1, .element2, .element4, .element5{

    height: 4.5vh;
    margin: auto;

}

.gallery-wrapper{

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
    
    justify-content: center;

}





