*{

    margin: 0;
    padding: 0;

    color:white;

    font-family: 'Poppins', sans-serif;
    
    box-sizing: border-box;

}

body{

    background-image:url(../img/events_background.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a{

    text-decoration: none;

}

#mainHeading{

    margin-top: 2vh;
    text-align: center;

}

#navbarWrapper{

    margin-top: 1vh;
    margin-bottom:7vh;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 7vh;

    text-align: center;

}

.button{

    text-decoration: none;

}

.button:hover{

    transition: 0.1s;
    font-size: 110%;

}

#calendarHeading{

    text-align: center;

}

.eventWrapper{

    margin-left: 2vw;
    margin-bottom: 2vh;

    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-auto-rows: minmax(10vh, auto);
    grid-column-gap: 1vw;
    grid-row-gap:0.5vh;

    justify-content: center;

}

.element{

    background-color: rgba(0,0,0,0.6);
    text-align: center;

}

.event-1, .event-2, .event-3{

    margin-bottom: 3vh;
    background-color:rgba(0,0,0,0.8)
    
}

.event-37{

    grid-column: 1/4;
    background-color: rgb(7, 146, 7);
    justify-content: center;
    
}

