*{

    margin: 0;
    padding: 0;

    color:white;

    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body{

    background-image:url(../img/events_background.jpeg);

}

#mainHeading{

    margin-top: 2vh;
    text-align: center;

}

#navbarWrapper{

    margin-top: 1vh;
    margin-bottom:7vh;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 7vh;
    
    text-align: center;
    
}

.button{

    text-decoration: none;

}

.button:hover{

    font-size: 110%;
    transition: 0.1s;

}

#calendarHeading{

    text-align: center;

}

.wrapper{
    
    margin-top: 7vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 30vw);
    grid-column-gap: 3vw;

    text-align: center;
    justify-content: center;

}

.location{

    background: rgba(0, 0, 0, 0.521);

}

.location:hover{

    background-color: black;
    transition: 0.3s;

}

a{
    
    text-decoration: none;

}
